@charset "UTF-8";

* {
    box-sizing: border-box;
}

body{
    margin:auto;
    max-width: 900px;
   
    
}

header{
    padding:10px;
    width: 100%;
    background-color: cornflowerblue;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    display: inline-block;
    
}

table {
    
    width: 100%; /* A táblázat szélessége 100% legyen a konténeren belül */
    table-layout: fixed; /* Fixált táblázat elrendezés */
    border-collapse: collapse; /* Táblázat celláinak összevonása */
}


footer{ 
    padding:10px;
    max-width: 900px;
    background-color: cornflowerblue;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    position: sticky;
    bottom:0;
  

}

article{
    grid-area: article;
    max-height: 150px;
    padding: 10px;
}

html, body{
    height:100%;
}

.container{
    min-height: 100%;
    display: grid;
    grid-template-rows: 100px auto 100px;
}


.hozzaadasButton{
   
    margin: 10px;
}










